@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Gruppo&display=swap');

@import '../../../../colors.scss';

*{
    font-family: "Gruppo", sans-serif;
}
.register-page {
    display: flex;
    flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    height: 100%; /* Asegura que use todo el alto disponible */
    position: relative;
    overflow: auto; /* Permite desplazamiento si el contenido excede el alto */
    background: url('../../../../assets/ImgsLogin/fondo-login-responsive.jpg') no-repeat center center;
    background-size: cover;
  

    .register-form-container {
        z-index: 1;
        position: relative;
        max-width: 400px;
        width: 90%; /* Se ajusta al 90% del ancho en pantallas pequeñas */
        padding: 2rem;
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;

        .title {
            font-size: 2rem;
            font-weight: bold;
            color: $txt-med-2;
            text-align: center;
            margin-bottom: 1.5rem;
        }

        .register-form {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .form-group {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                label {
                    font-size: 1rem;
                    color: $txt-dark-3;
                    font-weight: 500;
                }

                input,
                select {
                    padding: 0.8rem;
                    font-size: 1rem;
                    border: 1px solid #d1e3f8;
                    border-radius: 5px;
                    outline: none;
                    transition: border 0.3s ease;
                    &:focus {
                        border-color: #0077b6;
                        box-shadow: 0 0 5px rgba(0, 119, 182, 0.2);
                    }
                }
            }

            .btn-register {
                background: $txt-dark-3;
                color: #ffffff;
                padding: 0.8rem;
                border: none;
                border-radius: 5px;
                font-size: 1rem;
                font-weight: bold;
                cursor: pointer;
                transition: background 0.3s ease;

                &:hover {
                    background: #00509e;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .register-form-container {
            width: 90%; /* Se asegura de que el formulario se ajuste a pantallas pequeñas */
        }

        .background-image {
            display: none;
        }
    }

    @media (min-width: 1000px) {
        .register-form-container {
            max-width: none;
            width: 50vw; /* Ancho más grande en pantallas grandes */
        }

        .register-page {
            min-height: 80vh;
            height: 80vh;
            overflow: hidden;
            background: none;
        }
    }
}
