@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Gruppo&display=swap');

@import '../../../../colors.scss';

* {
    font-family: "Gruppo", sans-serif;
}

.register-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* Ajusta la altura al 100% de la pantalla */
    width: 100%;
    /* Asegura que ocupe todo el ancho */
    position: relative;
    overflow: hidden;
    /* Elimina las barras de desplazamiento extra */
    background: url('../../../../assets/ImgsLogin/fondo-login-responsive.jpg') no-repeat center center;
    background-size: cover;

    .register-form-container {
        z-index: 1;
        position: relative;
        max-width: 400px;
        width: 90%;
        padding: 2rem;
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;

        .title {
            font-size: 2rem;
            font-weight: bold;
            color: $txt-med-2;
            text-align: center;
            margin-bottom: 1.5rem;
        }

        .register-form {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .form-group {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                label {
                    font-size: 1rem;
                    color: $txt-dark-3;
                    font-weight: 500;
                }

                input,
                select {
                    padding: 0.8rem;
                    font-size: 1rem;
                    border: 1px solid #d1e3f8;
                    border-radius: 5px;
                    outline: none;
                    transition: border 0.3s ease;

                    &:focus {
                        border-color: #0077b6;
                        box-shadow: 0 0 5px rgba(0, 119, 182, 0.2);
                    }
                }
            }


            .form-row {
                display: flex;
                gap: 1rem;
                justify-content: space-between;
      
            }

            .form-row .form-group {
                flex: 1;
                min-width: 0;
            }

            .btn-register {
                background: $txt-dark-3;
                color: #ffffff;
                padding: 0.8rem;
                border: none;
                border-radius: 5px;
                font-size: 1rem;
                font-weight: bold;
                cursor: pointer;

                &:hover {
                    background: #00509e;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .register-form-container {
            width: 90%;
            padding: 1rem;
        }
        .form-row {
            flex-direction: column;
        }
    }

    @media (min-width: 1000px) {
        .register-form-container {
            max-width: none;
            width: 50vw;
        }

        .register-page {
            height: 100vh;
            overflow: hidden;
            background: none;
        }
    }
}