.chat{
    width: 80vw;
    height: 100vh;
    background-color: rgb(220, 220, 220);
    max-height: 100vh;
    overflow-y: scroll;
}


@media (max-width:760px){

    .chat{
        width:auto;
    }


}
