
<div class="m-1">
  <app-form></app-form>
</div>
<div class="lista-container">
    <h3>Pacientes Registrados en base al formulario en localhost</h3>
    <div class="paciente-header">
      <div class="paciente-cell">Nombre</div>
      <div class="paciente-cell">Edad</div>
      <div class="paciente-cell">Teléfono</div>
      <div class="paciente-cell">Correo</div>
      <div class="paciente-cell">Acciones</div>
    </div>
    <div *ngFor="let paciente of pacientes">
      <app-element-paciente [paciente]="paciente"></app-element-paciente>
    </div>
  </div>
  