.lista-container {

  background-color: #f4f4f4;
  border-radius: 8px;
}

.lista-container h3 {
  text-align: center;
  font-size: 1.5rem;
  color: #333;
}

.paciente-header {
  display: flex;
}

.paciente-cell {
  flex: 1;
  padding: 10px;

  border-bottom: 1px solid #ddd;
}

.paciente-header {
  font-weight: bold;
  background-color: #007bff;
  color: white;
}

.paciente-cell button {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.paciente-cell button:hover {
  background-color: #0056b3;
}

.paciente-header .paciente-cell {
  text-align: center;
}
