<div class="paciente-row">
    <div class="paciente-cell">{{ doctor.nombre }}</div>
    <div class="paciente-cell">{{ doctor.edad }}</div>
    <div class="paciente-cell">{{ doctor.telefono }}</div>
    <div class="paciente-cell">{{ doctor.correo }}</div>
    <div class="paciente-cell">{{ doctor.especialidad }}</div>
    
    <div class="paciente-cell">
        <button (click)="verDetalles(doctor)"><i class="fa-solid fa-eye"></i></button>
        <button><i class="fa-regular fa-trash-can"></i></button>
        <button (click)="editarDoctor()"><i class="fa-solid fa-pen-to-square"></i></button>
        <!-- <button> <i class="fa-solid fa-message"></i></button> -->
    </div>
</div>