<nav class="navbar">


  <!-- Menú inicial (pantallas grandes) -->
  <!-- Íconos en la derecha -->
  <div class="navbar-left">
    <img src="../../../assets/logos/diente.png">
  </div>


  <!-- Logo centrado -->
  <div class="navbar-center">
    <div class="flex-col-c">
      <h2 class="dental-clinic">DENTAL CLINIC BOUTIQUE</h2>
      <p class="dr-arce">By Dr. Arce</p>
    </div>

  </div>
  <!-- podrias hacer que la el contenido del navbar-right no salga tan junto me refiero a que cuando se ve el navar se ve algo asi "LoginRegisterDebug. . ." y se requiere que se vea con espacios entre cada uno siendo tambien responsivo-->
  <div class="navbar-right">
    <div class="navbar-right-container navbar-pc">
      <!-- Opciones visibles solo cuando NO estás autenticado -->

      <div *ngIf="!isLoggedIn">
        <label class="txt-option" (click)="navigate('/login')">Login</label>
      </div>



      <!-- Opciones visibles solo cuando estás autenticado -->
      <div *ngIf="isLoggedIn">
        <label class="txt-option" (click)="navigate('/debug')">Debug</label>
      </div>
      <div *ngIf="isLoggedIn">
        <label class="txt-option" (click)="navigate('/chats')">Chats</label>
      </div>
      <div *ngIf="isLoggedIn  && credentials?.tipo === 'Administrador'">
        <label class="txt-option" (click)="navigate('/registro')">Register</label>
      </div>
      <div *ngIf="isLoggedIn">
        <label class="txt-option" (click)="navigate('/lista-pacientes')">Patients</label>
      </div>
      <div *ngIf="isLoggedIn">
        <label class="txt-option" (click)="navigate('/lista-usuarios')">Users</label>
      </div>
      <div *ngIf="isLoggedIn">
        <label class="txt-option" (click)="navigate('/lista-mensajes')">Messages</label>
      </div>
      <div *ngIf="isLoggedIn">
        <label class="txt-option" (click)="navigate('/calendario')">Calendar</label>
      </div>

      <div *ngIf="isLoggedIn">
        <label class="txt-option" (click)="logout()">Logout</label>
      </div>
    </div>
  </div>
</nav>


<nav class="mobile-menubar">
  <div class="w-100 flex-c" (click)="openMobile()">
    <div class="p-1 menu-button txt-c">
      Menu
    </div>
  </div>

  <div id="navbar-mobile" class=" navbar-mobile">
    <div class="flex-ai">
      <i class="fa-solid fa-user-doctor"></i>
      <label class="txt-option ml-1" (click)="navigate('/debug')">Debug</label>
    </div>
    <div class="flex-ai">
      <i class="fa-solid fa-user-doctor"></i>
      <label class="txt-option ml-1" (click)="navigate('/login')">Login</label>
    </div>
    <div class="flex-ai">
      <i class="fa-solid fa-hospital-user"></i>
      <label class="txt-option ml-1" (click)="navigate('/registro')">Register </label>
    </div>
    <div class="flex-ai">
      <i class="fa-regular fa-address-book"></i>
      <label class="txt-option ml-1" (click)="navigate('/lista-pacientes')">Patient list </label>
    </div>

    <div class="flex-ai">
      <i class="fa-regular fa-calendar-check"></i>
      <label class="txt-option ml-1" (click)="navigate('/lista-citas')">Appointments </label>
    </div>
  </div>


</nav>