<nav class="navbar">

  <!-- Menú inicial (pantallas grandes) -->
  <!-- Íconos en la derecha -->
  <div class="navbar-left">
    <img src="../../../assets/logos/diente.png">
  </div>

  <!-- Logo centrado -->
  <div class="navbar-center">
    <div class="flex-col-c">
      <h2 class="dental-clinic">DENTAL CLINIC BOUTIQUE</h2>
      <p class="dr-arce">By Dr. Arce</p>
    </div>
  </div>

  <!-- vista en computadores -->
  <div class="navbar-right">
    <div class="navbar-right-container navbar-pc">
      <!-- Opciones visibles solo cuando NO estás autenticado -->
      <div *ngIf="!isLoggedIn">
        <label class="txt-option" (click)="navigate('/login')">Login</label>
      </div>
      <!-- Opciones visibles solo cuando estás autenticado-->
      <div *ngIf="isLoggedIn && ['Administrador', 'Doctor'].includes(credentials?.tipo)">
        <label class="txt-option" (click)="navigate('/chats')">Chats</label>
      </div>
      <div *ngIf="isLoggedIn">
        <label class="txt-option" (click)="navigate('/messages')">Messages</label>
      </div>
      <div *ngIf="isLoggedIn  && credentials?.tipo === 'Administrador'">
        <label class="txt-option" (click)="navigate('/registro')">Register</label>
      </div>
      <div *ngIf="isLoggedIn">
        <label class="txt-option" (click)="navigate('/lista-pacientes')">Patients</label>
      </div>
      <div *ngIf="isLoggedIn && ['Administrador', 'Recepcionista'].includes(credentials?.tipo)">
        <label class="txt-option" (click)="navigate('/lista-usuarios')">Users</label>
      </div>
      <div *ngIf="isLoggedIn">
        <label class="txt-option" (click)="navigate('/lista-mensajes')">Filters</label>
      </div>
      <div *ngIf="isLoggedIn && ['Administrador', 'Recepcionista'].includes(credentials?.tipo)">
        <label class="txt-option" (click)="navigate('/calendario')">Calendar</label>
      </div>
      <div *ngIf="isLoggedIn">
        <label class="txt-option" (click)="logout()">Logout</label>
      </div>
    </div>
  </div>

</nav>

<!-- vista en celulares -->
<nav class="mobile-menubar">
  <div class="w-100 flex-c" (click)="openMobile()">
    <div class="p-1 menu-button txt-c">
      Menu
    </div>
  </div>
  <div id="navbar-mobile" class="navbar-mobile">
    <!-- Opciones cuando NO está autenticado -->
    <div *ngIf="!isLoggedIn" class="mobile-menu-item">
      <i class="fa-solid fa-right-to-bracket"></i>
      <label class="txt-option" (click)="navigate('/login')">Login</label>
    </div>
    <!-- Opciones cuando está autenticado -->
    <div *ngIf="isLoggedIn && ['Administrador', 'Doctor'].includes(credentials?.tipo)" class="mobile-menu-item">
      <i class="fa-solid fa-comment-dots"></i>
      <label class="txt-option" (click)="navigate('/chats')">Chats</label>
    </div>
    <div *ngIf="isLoggedIn" class="mobile-menu-item">
      <i class="fa-solid fa-envelope"></i>
      <label class="txt-option" (click)="navigate('/messages')">Messages</label>
    </div>
    <div *ngIf="isLoggedIn && credentials?.tipo === 'Administrador'" class="mobile-menu-item">
      <i class="fa-solid fa-user-plus"></i>
      <label class="txt-option" (click)="navigate('/registro')">Register</label>
    </div>
    <div *ngIf="isLoggedIn" class="mobile-menu-item">
      <i class="fa-solid fa-hospital-user"></i>
      <label class="txt-option" (click)="navigate('/lista-pacientes')">Patients</label>
    </div>
    <div *ngIf="isLoggedIn && ['Administrador', 'Recepcionista'].includes(credentials?.tipo)" class="mobile-menu-item">
      <i class="fa-solid fa-users"></i>
      <label class="txt-option" (click)="navigate('/lista-usuarios')">Users</label>
    </div>
    <div *ngIf="isLoggedIn" class="mobile-menu-item">
      <i class="fa-solid fa-filter"></i>
      <label class="txt-option" (click)="navigate('/lista-mensajes')">Filters</label>
    </div>
    <div *ngIf="isLoggedIn && ['Administrador', 'Recepcionista'].includes(credentials?.tipo)" class="mobile-menu-item">
      <i class="fa-solid fa-calendar-days"></i>
      <label class="txt-option" (click)="navigate('/calendario')">Calendar</label>
    </div>
    <div *ngIf="isLoggedIn" class="mobile-menu-item logout-item">
      <i class="fa-solid fa-right-from-bracket"></i>
      <label class="txt-option" (click)="logout()">Logout</label>
    </div>
  </div>
</nav>