<nav class="navbar">
    <!-- Botón del menú hamburguesa -->
    <div class="navbar-hamburger" (click)="toggleMenu()">
      <i class="fas fa-bars"></i>
    </div>
  
    <!-- Menú inicial (pantallas grandes) -->
    <ul class="navbar-left">
      <li><a href="#">Pacientes</a></li>
      <li><a href="#">Citas</a></li>
      <li><a href="#">Configuración</a></li>
      <li><a href="#">Calendario</a></li>
    </ul>
  
    <!-- Logo centrado -->
    <div class="navbar-center">
      <img src="../../../assets/logos/logoDentista.png" alt="Logo" class="logo" />
    </div>
  
    <!-- Íconos en la derecha -->
    <div class="navbar-right">
      <a href="#" class="icon"><i class="fas fa-search"></i></a>
      <a href="#" class="icon"><i class="fas fa-user"></i> <span>Iniciar sesión</span></a>
    </div>
  
    <!-- Menú hamburguesa desplegable (pantallas pequeñas) -->
    <div class="hamburger-menu" [class.active]="menuActive">
      <div class="menu-header">
        <div class="close-button" (click)="toggleMenu()">
          <i class="fas fa-times"></i>
        </div>
        <div class="navbar-center">
          <img src="../../../assets/logos/logoDentista.png" alt="Logo" class="logo" />
        </div>
        <div class="navbar-right">
          <a href="#" class="icon"><i class="fas fa-star"></i></a>
          <a href="#" class="icon"><i class="fas fa-user"></i></a>
        </div>
      </div>
      <div class="search-bar">
        <input type="text" placeholder="Tu búsqueda / Código del configurador" />
        <i class="fas fa-search"></i>
      </div>
      <ul class="menu-options">
        <li><a href="/modelos">Pacientes <i class="fas fa-chevron-right"></i></a></li>
        <li><a href="/comprar">Citas <i class="fas fa-chevron-right"></i></a></li>
        <li><a href="/servicios">Configuración <i class="fas fa-chevron-right"></i></a></li>
        <li><a href="/marca">Calendario <i class="fas fa-chevron-right"></i></a></li>
      </ul>
      <hr />

    </div>
  </nav>
  