



<div class="list-element" (click)="verPerfil(paciente._id)">
    <div class="list-info">
        <div class="name-date">
            <div>{{paciente.nombre}} {{paciente.apeP}} {{paciente.apeM}}</div>
            <div>02/01/2000</div>
        </div>
       
        <div class="desc">
            <div> <strong>Telefono: </strong>{{paciente.telefonoWhatsapp}}- <strong> Correo: </strong>{{paciente.correoElectronico}}</div>
            
          
        </div>
      
       
    </div>
    <div class="list-options">
        <button>Asignar</button>
   
        <button (click)="eliminarPaciente()">Eliminar</button>
    </div>
</div>