<!-- <div class="paciente-row">
    <div class="paciente-cell">{{ paciente.nombre }}</div>
    <div class="paciente-cell">{{ paciente.edad }}</div>
    <div class="paciente-cell">{{ paciente.telefono }}</div>
    <div class="paciente-cell">{{ paciente.correo }}</div>
    <div class="paciente-cell">
        <button (click)="verDetalles(paciente)"><i class="fa-solid fa-eye"></i></button>
        <button (click)="eliminarPaciente()"><i class="fa-regular fa-trash-can"></i></button>
        <button (click)="editarPaciente()"><i class="fa-solid fa-pen-to-square"></i></button>
    </div>
</div> -->



<div class="list-element" (click)="verPerfil(paciente._id)">
    <div class="list-info">
        <div class="name-date">
            <div>{{paciente.nombre}} {{paciente.apeP}} {{paciente.apeM}}</div>
            <div>02/01/2000</div>
        </div>
       
        <div class="desc">
            <div> <strong>Telefono: </strong>{{paciente.telefonoWhatsapp}}- <strong> Correo: </strong>{{paciente.correoElectronico}}</div>
            
          
        </div>
      
       
    </div>
    <div class="list-options">
        <button>Asignar</button>
   
        <button>Eliminar</button>
    </div>
</div>