.paciente-detalles {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    // margin: 20px auto;
  }
  
  .titulo {
    font-size: 1.8rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .titulo span {
    font-weight: bold;
    color: #007bff;
  }
  
  .detalles-container {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  .detalles-lista {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .detalles-lista li {
    margin-bottom: 12px;
    font-size: 1rem;
    color: #555;
  }
  
  .detalles-lista li strong {
    color: #333;
  }
  
  .acciones {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .editar-btn {
    background-color: #28a745;
    color: white;
  }
  
  .editar-btn:hover {
    background-color: #218838;
  }
  
  .eliminar-btn {
    background-color: #dc3545;
    color: white;
  }
  
  .eliminar-btn:hover {
    background-color: #c82333;
  }
  





  *{
    font-family: "Inter", serif;
    font-weight: 500;
  }

  strong{
    font-weight: 700;
  }

  label{
    font-size:small;
  }

  



  .profile-side{
    background-color: white;
    width: 35vw;
    box-sizing: border-box;
    padding: 1rem;
  }

  .appointment-side{
    width: 65vw;
    background-color: white;
    
  }

  .profile-side-pic{
    display: flex;
  
  }

  .profile-img{
   background-color: #333;
   width: 50%;
   height: 15rem;
  }


  .list{
    width: 100%;
  
    max-height: 10rem;
    overflow-y: scroll;
  }

  .list-citas{
    height: 100%;
    overflow-y: scroll;

  }


  .list-title{
    color: white;
    background-color: #333;
    box-sizing: border-box;
    padding: 5px;
    
  }

  .list-element{
    background-color: #e3e3e3;
    border: 1px 0px black solid;
    border-bottom: 1px black solid;
    box-sizing: border-box;
    padding: 5px;
    font-size:small;
  }

  .comment{
    box-sizing: border-box;
    padding: 0.5rem;
 
  }

  .comment p{
    font-weight: 300;
  }


form label{
  font-size: large;
  font-weight: 300;
}
  .input-modal{
    border:1px solid black;
    border-radius: 4px;
    padding: 5px;
    
  }

  textarea{
    border-radius: 4px;
  }


  .bar{
    width: 100%;
    border-bottom: 2px solid black;
    margin-bottom: 15px;
  }


  .btn-aceptar{
    background-color:#353535;
    color: white;
  }