
<div class="m-1">
  <div class="">
    <div class="lista-container">
      <div class="paciente-header">
        <div class="paciente-cell">Lista de mensajes</div> 
      </div>
      <div class="p-1" *ngFor="let mensaje of mensajes | paginate: { itemsPerPage: 10, currentPage: p }">
        <app-list-element-mensaje [mensaje]="mensaje"></app-list-element-mensaje>
       
      </div>
      <div class="flex-c">
        <pagination-controls 
        (pageChange)="p = $event" 
        [previousLabel]="''"
        [nextLabel]="''"></pagination-controls>
      </div>
    </div>
    
  </div>
</div>

