<div class="paciente-row">
    <div class="paciente-cell">{{ usuario.nombre }}</div>
    <div class="paciente-cell">{{ usuario.tipo }}</div>
    <div class="paciente-cell">{{ usuario.telefono }}</div>
    <div class="paciente-cell">
        <button (click)="verDetalles(usuario)"><i class="fa-solid fa-eye"></i></button>
        <button><i class="fa-regular fa-trash-can"></i></button>
        <button (click)="editarUsuario()"><i class="fa-solid fa-pen-to-square"></i></button>
        <!-- <button> <i class="fa-solid fa-message"></i></button> -->
    </div>
</div>