<div class="list-element">
    <div class="list-info">
        <div class="name-date">
            <div>Nombre del elemento</div>
            <div>01/10/2000</div>
        </div>
       
        <div class="desc">
            <strong>Description:</strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae repellat assumenda voluptas. Eius quis reiciendis ut porro ullam earum corporis nobis explicabo? Officia sed laborum aut amet perspiciatis reprehenderit, sint consectetur sit blanditiis ullam dolor repellat tempore vel dignissimos voluptatibus maxime? Velit facilis quisquam fuga doloremque delectus! Modi eveniet laudantium officiis omnis eaque dolores illum veritatis deleniti, fugit iure totam, cumque maxime nobis vel pariatur dolorum ratione veniam, quos quam. Officiis delectus quo eveniet molestias beatae placeat dolore saepe similique doloribus numquam quisquam, nemo rem alias impedit error veniam nisi culpa enim asperiores laborum! Nobis, animi. Temporibus, eum error. Animi.
        </div>
      
        <div class="other-data">
            <div>
                
                <div>Informacion ABC</div>

            </div>
            <div>

                
                <div>Informacion ABC</div>
            </div>
           
        </div>
       
    </div>
    <div class="list-options">
        <button>Ver</button>
        <button>Modificar</button>
        <button>Eliminar</button>
    </div>
</div>