<div class="paciente-row">
    <div class="paciente-cell">{{ paciente.nombre }}</div>
    <div class="paciente-cell">{{ paciente.edad }}</div>
    <div class="paciente-cell">{{ paciente.telefono }}</div>
    <div class="paciente-cell">{{ paciente.correo }}</div>
    <div class="paciente-cell">
        <button (click)="verDetalles(paciente)"><i class="fa-solid fa-eye"></i></button>
        <button><i class="fa-regular fa-trash-can"></i></button>
        <button (click)="editarPaciente()"><i class="fa-solid fa-pen-to-square"></i></button>
        <!-- <button> <i class="fa-solid fa-message"></i></button> -->
    </div>
</div>