<div class="list-element">
    <div class="list-info">
        <div class="name-date">
            <div>Teléfono: <strong>{{ mensaje.telefono }}</strong></div>
        </div>
        <div class="name-date">
            <div>Nombre: <strong>{{ mensaje.nombre }}</strong></div>
            <div>Fecha: <strong>{{ mensaje.fecha }} a las {{ mensaje.hora }}</strong></div>
        </div>

        <div class="desc">
            <strong>Mensaje:</strong> {{ mensaje.descripcion }}
        </div>
    </div>

    <!-- <div class="list-options">
        <button>Ver</button>
        <button>Modificar</button>
        <button>Eliminar</button>
    </div> -->
</div>