<!-- semaforo.component.html -->
<div class="semaforo">
    <div
      class="circle gray"
      [ngClass]="{'active': activeColor === 'gray'}"
      title="No leido">

    </div>
    <div
      class="circle green"
      [ngClass]="{'active': activeColor === 'green'}"
      title="atendido">
    </div>
    <div
      class="circle yellow"
      [ngClass]="{'active': activeColor === 'yellow'}"
      title="Esperando respuesta">
    </div>
    <div
      class="circle red"
      [ngClass]="{'active': activeColor === 'red'}"
      title="Urgente">
    </div>
  </div>
