<div class="calendar-container">
    <div class="button-container">
      <button (click)="showAppointmentsCalendar()">Agendar Cita</button>
      <button (click)="showFullCalendar()">Visualizar Calendario Completo</button>
    </div>
  
    <div *ngIf="isAppointmentsCalendarVisible" class="calendar">
      <iframe src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ2Qnk8LRuynoOTuSUSbzvh0KMJn1_Zqh7Xm-2Kk5zPr7veXyCKCJCJQ5NdJPUblaH91y_vwE45D?gv=true" style="border: 0" width="100%" height="600" frameborder="0"></iframe>
    </div>
  
    <div *ngIf="isFullCalendarVisible" class="calendar">
      <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FMexico_City&showPrint=0&src=YXJjZWRlbnRhbDRAZ21haWwuY29t&src=YzY5MGQ0NmE0NzY4Y2Y2ZDkwODQ4MTM0YjBhZDk2OTZjYTc0YjYwM2ZiZDQxZTk3YzkzYTFiNDM3MDRiYzc1OEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=Y2U4NWViYmI5MThjN2M3ZGZkN2JhZDJlZWM2YzE0MjAxMmQyNGMyYjE3ZTgwM2UyMWI5ZDZjYzk4YmI4NDcyYkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZWU3NTIwMGI4ODA2NWM4ZjMzOTc4Nzc4M2M1MjFiOWY1YmNjMTEyNDJmMDlhYzlkZDE1MTJkMjNhOThmYjQ4NUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%23AD1457&color=%238E24AA&color=%23AD1457" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
  