<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="list-element">
    <div class="w-100 flex-sb">
        <h3>Jorge Ruben Romo Diaz de Leon</h3>
        <app-semaforo></app-semaforo>
    </div>
    <div class="bar"></div>
    <div>
        <div class="name-date flex-sb">
            <div>449 549 4260 <i class="fa-brands fa-whatsapp"></i></div>
            <div>12/12/2023</div>
        </div>
        <div class="desc">
            <strong>Mensaje:</strong> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente assumenda inventore ipsa natus. Consequatur, consequuntur. Iure, vitae tempore sunt aperiam molestias rem natus quae minus? Asperiores iusto ullam earum eaque sint autem maxime rem dolorum in praesentium, facilis veniam ad aspernatur quod corrupti iure odio nobis, alias, iste harum velit a reiciendis maiores? Ratione deleniti, obcaecati aperiam, atque maxime fugiat rerum ex ipsa aut magni nisi sapiente vero eos soluta sed, explicabo ipsam aspernatur. Debitis quis quisquam hic tempore pariatur esse soluta exercitationem laboriosam velit porro, facere aliquid numquam quam aliquam commodi placeat consectetur provident nihil expedita doloremque? Sint, alias!
        </div>
     </div>
    <!-- <div class="list-options">
        <button>Ver</button>
        <button>Modificar</button>
        <button>Eliminar</button>
    </div> -->
</div>