
<div>
  <div class="p-1 flex">
   
    <div>

      <div class="profile-side">
        <div class="profile-side-pic">
          <img class="profile-img">
          <div class="p-1">
            <div class="flex-col">
              <label><strong>{{paciente.nombre}} {{paciente.apeP}} {{paciente.apeM}}</strong></label>
            </div>
            
            <div class="flex-sb ">
              <label><strong>Telefono:</strong> {{paciente.telefonoWhatsapp}}</label>
            </div>
            <div class="flex-sb ">
              <label><strong>Email:</strong>{{paciente.correoElectronico}}</label>
            </div>

            <div class="flex-sb mt-1 ">
              <label>Altura: {{paciente.altura}}</label>
      
            </div>
            <div>
              <label>Peso: {{paciente.peso}}</label>
            </div>
            <div class="flex-sb ">
              <label>Edad: {{paciente.edad}}</label>
              <label>Genero : {{paciente.medicamentos}}</label>
            </div>

            <div class="flex-sb mt-1 ">
              <label><strong>Dirección:</strong><br>
                 {{paciente.direccion}}
                </label>
            </div>
         
          </div>
        </div>
       
    </div>
  
  
    <div class="profile-side mt-1">
      <div class="list-title flex-sb">
        <div> Alergias</div>
        <div>
          <i class="fa-solid fa-square-plus"></i>
        </div>
      </div>
      <div>
        <textarea class="w-100 bs-bb" rows="5"></textarea>
      </div>
  
    
  
      <div class="list-title flex-sb mt-2">
        <div> Medicamentos</div>
        <div>
          <i class="fa-solid fa-square-plus"></i>
        </div>
      </div>
      <div>
        <textarea class="w-100 bs-bb" rows="5"></textarea>
      </div>
    </div>



   
  


  </div>

  <div class="appointment-side ml-1">
    <div class="p-2 flex-sb">
      <div>
        <h3>Citas y trabajos realizados</h3>
      </div>
      <div>
        <p (click)="register()">Registrar cita</p>
      </div>
  
      
    </div>
    <div class="mlr-2">
      <div class="list-citas mb-2">

        <div class="list-element p-2">
            <div class="w-100 flex-sb ">
                <p>Aqui va el motivo de la cita</p>
                <p>Fecha</p>
            </div>
            <div class="comment w-100 flex-sb txt-j">
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat unde veritatis repellendus labore? Nisi enim veniam beatae qui tenetur accusantium magnam ducimus deserunt necessitatibus maiores atque dolore sit laborum fugiat a harum, id voluptatem nam suscipit nesciunt ad voluptatibus rerum quasi minus. Id quis molestiae veniam delectus magni placeat cum explicabo, illo repellendus incidunt libero animi dignissimos numquam quam quidem beatae fugiat, corrupti dolorem maiores dolores aliquid eligendi. Exercitationem, numquam. Adipisci soluta, sint earum sequi id pariatur laudantium tempore deserunt minus dicta perferendis cupiditate accusantium molestias quos maxime error atque mollitia, corrupti, nulla nisi veritatis quasi velit deleniti. Corrupti, vel.</p>
          </div>
          <div class="w-100 ">
            <p>Realizo: Dr Calamardo gagaga</p>
         </div>
          <div class="w-100 ">
            <p>Coste: $500.00</p>
         </div>
        
        </div>



        
      </div>
    </div>
    
  
  </div>


  
<app-modal 
[title]="'Registrar cita'"
[isVisible]="showModal"
(close)="onCloseModal()">
  <form>
    <div class="bar"></div>
    <div>
      <label for="Motivo">Tratamiento</label><br>
      <input id="Motivo" type="text" class="input-modal w-50">
    </div>
    <br>
    <div>
      <label for="Comentarios">Comentarios</label><br>
      <textarea id="Comentarios"   rows="4" cols="50" class="w-75"></textarea>
    </div>
    <div class="mt-1">
      <label for="Dr">Tratamiento realizado por </label>
      <input id="Dr" type="text" class="input-modal">
    </div><br>
    <div>
      <label for="Pago">Pago: </label>
      $ <input id="Pagp" type="number" class="input-modal ">
    </div>
    <br>
    <div class="bar"></div>
    <button class="btn-aceptar">
      Aceptar
    </button>

  </form>




</app-modal>

  




  


  </div>
  

</div>



