<div>
  <div class="p-1 flex">
    <div>
      <div class="profile-side">
        <div class="profile-side-pic">
          <img class="profile-img">
          <div class="p-1">
            <div class="flex-col">
              <label><strong>{{paciente.nombre}} {{paciente.apeP}} {{paciente.apeM}}</strong></label>
            </div>
            <div class="flex-sb ">
              <label><strong>Telefono:</strong> {{paciente.telefonoWhatsapp}}</label>
            </div>
            <div class="flex-sb ">
              <label><strong>Email:</strong> {{paciente.correoElectronico || 'No proporcionado'}}</label>
            </div>
            <div class="flex-sb mt-1 ">
              <label>Altura: {{paciente.altura}}</label>
            </div>
            <div>
              <label>Peso: {{paciente.peso}}</label>
            </div>
            <div class="flex-sb ">
              <label>Edad: {{calcularEdad(paciente.fechaNac)}}</label>
            </div>
            <div>
              <label>Genero : {{paciente.genero}}</label>
            </div>
            <div class="flex-sb mt-1 ">
              <label><strong>Dirección:</strong><br>
                {{paciente.direccion}}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="profile-side mt-1">
        <!-- Alergias -->
        <div class="list-title flex-sb">
          <div>Alergias</div>
          <div>
            <i class="fa-solid fa-square-plus"></i>
          </div>
        </div>
        <div>
          <textarea class="w-100 bs-bb" rows="5" [(ngModel)]="paciente.alergias"></textarea>
        </div>
        <div class="mt-2">
          <button class="btn-guardar" (click)="guardarAlergias()">Guardar Alergias</button>
        </div>
        <!-- Medicamentos -->
        <div class="list-title flex-sb mt-4">
          <div>Medicamentos</div>
          <div>
            <i class="fa-solid fa-square-plus"></i>
          </div>
        </div>
        <div>
          <textarea class="w-100 bs-bb" rows="5" [(ngModel)]="paciente.medicamentos"></textarea>
        </div>
        <div class="mt-2">
          <button class="btn-guardar" (click)="guardarMedicamentos()">Guardar Medicamentos</button>
        </div>
      </div>
    </div>

    <div class="appointment-side ml-1">
      <div class="p-2 flex-sb">
        <div>
          <h3>Citas y trabajos realizados</h3>
        </div>
        <div>
          <p (click)="register()">Registrar cita</p>
        </div>
      </div>


      <div class="mlr-2">
        <div class="list-citas mb-2" *ngFor="let cita of citas">
          <div class="list-element p-2">
            <div class="w-100 flex-sb">
              <p>{{ cita.tratamiento }}</p> <!-- Mostrar el tratamiento -->
              <p>{{ cita.fecha | date: 'shortDate' }}</p> <!-- Mostrar la fecha formateada -->
            </div>
            <div class="comment w-100 flex-sb txt-j">
              <p>{{ cita.observaciones || 'Sin observaciones' }}</p>
              <!-- Mostrar observaciones o un texto por defecto -->
            </div>
            <div class="w-100">
              <p>Hora Inicio: {{ cita.horaInicio || 'Desconocido' }}</p> <!-- Mostrar quién realizó el tratamiento -->
            </div>
            <div class="w-100">
              <p>Hora Fin: {{ cita.horaFin || 'Desconocido' }}</p> <!-- Mostrar quién realizó el tratamiento -->
            </div>
            <div class="w-100">
              <p>Realizó: {{ cita.realizo || 'Desconocido' }}</p> <!-- Mostrar quién realizó el tratamiento -->
            </div>
            <div class="w-100">
              <p>Coste: ${{ cita.pago }}</p> <!-- Mostrar el pago -->
            </div>
          </div>
        </div>
      </div>



    </div>

    <app-modal [title]="'Registrar cita'" [isVisible]="showModal" (close)="onCloseModal()">
      <form (ngSubmit)="nuevaCita()">
        <div class="bar"></div>
        <div>
          <label for="tratamiento">Tratamiento</label><br>
          <input id="tratamiento" type="text" class="input-modal w-50" [(ngModel)]="tratamiento" name="tratamiento">
        </div>
        <br>
        <div>
          <label for="observaciones">Comentarios</label><br>
          <textarea id="observaciones" rows="4" cols="50" class="w-75" [(ngModel)]="observaciones"
            name="observaciones"></textarea>
        </div>
        <div class="mt-1">
          <label for="realizo">Tratamiento realizado por</label>
          <input id="realizo" type="text" class="input-modal" [(ngModel)]="realizo" name="realizo">
        </div><br>
        <div>
          <label for="horaInicio">Hora Inicio:</label>
          <input id="horaInicio" type="time" class="input-modal" [(ngModel)]="horaInicio" name="horaInicio">

        </div>
        <br>
        <div>
          <label for="horaFin">Hora Fin:</label>
          <input id="horaFin" type="time" class="input-modal" [(ngModel)]="horaFin" name="horaFin">
        </div>
        <br>
        <div>
          <label for="pago">Pago:</label>
          $ <input id="pago" type="number" class="input-modal" [(ngModel)]="pago" name="pago">
        </div>
        <br>
        <div class="bar"></div>
        <button class="btn-aceptar" type="submit">
          Aceptar
        </button>
      </form>

    </app-modal>
  </div>
</div>
