<div class="chat-container">
  <div class="contact-list"  [class.hidden-mobile]="selectedContact">
    <!-- 🔍 Input de búsqueda -->
    <div class="search-wrapper">
      <input type="text"
             [(ngModel)]="searchTerm"
             placeholder="🔍 Buscar"
             class="search-bar"
             name="searchInput">
      <button *ngIf="searchTerm"
              (click)="searchTerm = ''"
              class="clear-btn" aria-label="Limpiar">✕</button>
    </div>
    <!-- Lista de contactos (pacientes) -->
    <div *ngFor="let contact of filteredContacts()"
     (click)="selectContact(contact)"
     [class.selected]="contact === selectedContact"
     [class.contact-urgente]="contact.alertaEstado === 'urgente'"
     [class.contact-noleido]="contact.alertaEstado === 'noleido'">
  {{ contact.name }} ({{ contact.phone }})
</div>
  </div>
  <div class="message-view" [class.full-width]="selectedContact">
    <!-- Mensajes del contacto seleccionado -->
    <div *ngIf="selectedContact" class="message-container">
      <h3 class="title"> <button class="back-button" (click)="deselectContact()">&lt;</button> {{ selectedContact.name }}</h3>
      <div class="messages" #messagesContainer>
        <div *ngFor="let message of selectedContact.messages"
             [class.doctor-message]="message.sender === 'doctor'"
             [class.patient-message]="message.sender !== 'doctor'">
             <div class="message-content">
              {{ message.text }}
              <span class="message-time">{{ message.fecha | date:'EEEE d MMMM HH:mm'}}</span>
            </div>
        </div>
      </div>
    </div>
    <form class="message-form" (ngSubmit)="sendMessage()" *ngIf="selectedContact">
      <input type="text"
             [(ngModel)]="messageText"
             placeholder="Escribe un mensaje..."
             name="messageInput"
             class="message-input">
      <button type="submit"
              [disabled]="!messageText"
              class="send-button">
        Enviar
      </button>
    </form>
  </div>
</div>
