.lista-container {
  width: 100%;
  background-color: #f4f4f4;
  border-radius: 8px;
  margin: 0 auto;
}
  
.lista-container h3 {
  text-align: center;
  font-size: 1.5rem;
  color: #333;
}
  
.paciente-cell button {
  padding: 8px 15px;
  background-color: #29331e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}
  
.paciente-cell button:hover {
  background-color: #3a571b;
}
  
  .paciente-header .paciente-cell {
   
  }
  

  /* Contenedor para tabla con scroll horizontal */
.tabla-responsive {
  display: block;
  overflow-x: auto; 
  white-space: nowrap;/* Habilita desplazamiento horizontal */
  width: 100%;
  margin: 0 auto;
}

/* Encabezado de la tabla */
.paciente-header {
  display: flex;
  background-color: #29331e;
  color: white;
  font-weight: bold;
  text-align: center;
}


.paciente-cell {
  font-family: "Inter", serif;
  font-weight: 300;

  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  white-space: nowrap;
}

/* Responsividad */
@media (max-width: 768px) {
  .paciente-header {
    flex-wrap: nowrap; /* Encabezado en varias filas si es necesario */
  }

  .paciente-cell {
    text-align: center; /* Alineación a la izquierda para contenido más legible */
  }
}
