<div class="m-1">
  <app-form-user></app-form-user>
  <div class="m-2">
    <div class="lista-container">
      <div class="tabla-responsive">
        <div class="paciente-header">
          <div class="paciente-cell">Lista de usuarios</div>
          
        </div>
        <div *ngFor="let usuario of usuarios">
          <app-user-view
            [usuario]="usuario"
            (editarUsuarioEvent)="editarUsuario($event)"
            (eliminarUsuarioEvent)="eliminarUsuario($event)">
          </app-user-view>
        </div>
      </div>
      
    </div>
  </div>
</div>

 