<div class="m-1">
  <app-form-user></app-form-user>
</div>
<br>
  <div class="lista-container">
      <h3>Usuarios</h3>
      <div class="paciente-header">
        <div class="paciente-cell">Usuario</div>
        <div class="paciente-cell">Tipo de usuario</div>
        <div class="paciente-cell">Teléfono</div>
        <div class="paciente-cell">Acciones</div>
      </div>
      <div *ngFor="let usuario of usuarios">
        <app-user-view
          [usuario]="usuario"
        (editarUsuarioEvent)="editarUsuario($event)">
        </app-user-view>
      </div>
    </div>