.paciente-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

  }
  
  .paciente-cell {

    padding: 10px;
  
    display: flex;
    // justify-content: center; /* Centra el contenido en la celda */
    // align-items: center; /* Asegura que el contenido esté alineado verticalmente */
  }
  
  .paciente-cell button {
    padding: 8px 15px;
    background-color: #29331e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .paciente-cell button:hover {
    background-color: #3a571b;
  }
  
  .paciente-row:hover {
    background-color: #f1f1f1;
  }
  


  *{
    font-family: "Inter", serif;
  }

  
.list-element{
  display: flex;
  width: 100%;
  background-color: rgb(233, 233, 233);
  border-bottom: solid 5px rgb(255, 255, 255);
}

.list-element:hover{
  background-color: rgb(213, 213, 213);
  cursor: pointer;
}

.list-info{
  font-size: .8rem;
  font-weight: 300;
    width: 100%;

  box-sizing: border-box;
  padding: 10px;
  color: rgb(41, 39, 39);
  
}

.name-date{
  display: flex;
  justify-content: space-between
}

.desc{
  font-size: .5rem;
  margin: 8px 0px;
  text-align: justify;
}

.other-data{
  font-size: .6rem;
  display: flex;
  justify-content: space-between;
}

.list-options{
  background-color: rgb(188, 187, 187);
  display: flex;
  justify-content: space-around;
  width: 10%;
  box-sizing: border-box;
  flex: 1;
  align-items: center;


}

button{
  width: 100%;
  border-radius: 5px;
  border: 1px solid gray
}


button:hover{
  background-color: #c7c7c7;
}


i{
    font-size: large;
}


.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border: none;
  padding: 3px 10px; /* Ajusta el relleno horizontal para hacer el botón más pequeño */
  cursor: pointer;
  border-radius: 3px;
  width: auto; /* Permite que el tamaño del botón se ajuste al contenido */
}

.btn-danger:hover {
  background-color: #c82333;
}
