<div class="combined-container">
    <h2>Citas</h2>
    <table>
      <thead>
        <tr>
          <th>Info</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div>
              <app-list-element-cita></app-list-element-cita>
            </div>
          </td>
          <td>
            <div class="semaforo-container">
              <app-semaforo></app-semaforo>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  