
<div class="w-100 ">
    <div class="m-1 filtros">
        <div class="title">
            <p><strong>Filtros</strong></p>
        </div>

        <div class="p-1 filter-opt-container">
          <form [formGroup]="filterForm" (ngSubmit)="obtenerFiltrosPacientes()">
                <div class="filter-opt">
                    <p>Buscar por numero</p>
                    <input formControlName="search" type="text" class="w-100">
                </div>

                <button class="btn mt-1" type="submit">
                    Aplicar
                </button>
            </form>
        </div>
    </div>
</div>
