<div class="modal-overlay" *ngIf="showModal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Detalles del Usuario</h2>
      <button class="close-btn" (click)="closeModal()">✖</button>
    </div>
    <div class="modal-body">
      <div class="modal-row">
        <span class="label">Usuario:</span>
        <span class="value">{{ usuario.usuario }}</span>
        <span class="label">Tipo:</span>
        <span class="value">{{ usuario.tipo }}</span>
      </div>
      <div class="modal-row">
        <span class="label">Nombre Completo:</span>
        <span class="value">{{ usuario.nombre }} {{ usuario.apeP }} {{ usuario.apeM }}</span>
      </div>
      <div class="modal-row">
        <span class="label">Teléfono:</span>
        <span class="value">{{ usuario.telefono }}</span>
        <span class="label">Correo:</span>
        <span class="value">{{ usuario.correo }}</span>
      </div>
      <div class="modal-row" *ngIf="usuario.tipo === 'Doctor'">
        <span class="label">Especialidad:</span>
        <span class="value">{{ usuario.especialidad }}</span>
      </div>

      <div class="modal-row" *ngIf="usuario.tipo === 'Doctor'">
        <label for="status-select" class="label">Seleccionar Paciente:</label>
        <select id="status-select" class="status-select" #selectPaciente>
          <option *ngFor="let paciente of pacientes" [value]="paciente._id">
            {{ paciente.nombre }} {{ paciente.apeP }} {{ paciente.apeM }}
          </option>
        </select>
        <button class="action-btn" (click)="asignarPaciente(selectPaciente.value)">Asignar Paciente</button>
      </div>    
    </div>
  </div>
</div>