<div class="combined-container">
  <h2>Mensajes</h2>
  <table>
    <thead>
      <tr>
        <th>Info</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mensaje of mensajes">
        <td>
          <div class="semaforo-container">
            <br>
            <app-semaforo [status]="mensaje.status"></app-semaforo>
            <br>
          </div>
          <br>
          <br>
          <app-list-element-mensaje [mensaje]="mensaje"></app-list-element-mensaje>
        </td>
      </tr>
      
    </tbody>
  </table>
</div>