.list-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #f7f7f7;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .list-info {
    font-size: 0.9rem;
    font-weight: 400;
    width: 85%;
    box-sizing: border-box;
    padding: 15px;
    color: #333;
    line-height: 1.5;
  }
  
  .name-date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .desc {
    font-size: 0.8rem;
    margin: 10px 0;
    color: #555;
    text-align: justify;
  }
  
  .other-data {
    font-size: 0.8rem;
    margin-top: 5px;
    color: #777;
  }
  
  .list-options {
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 12%;
    box-sizing: border-box;
    padding: 10px;
    border-left: 1px solid #e0e0e0;
  }
  
  button {
    width: auto; /* Cambia de 100% a auto para evitar que se estire innecesariamente */
    max-width: 100%; /* Asegúrate de que no exceda el ancho del contenedor */
    padding: 8px 12px; /* Agrega un poco más de espacio horizontal para mejor visualización */
    border: none;
    border-radius: 4px;
    font-size: 0.85rem;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box; /* Asegura que padding y border no afecten el tamaño total */
  }
  
  button:hover {
    background-color: #0056b3; /* Efecto hover */
  }
  
  
  button:nth-child(2) {
    background-color: #ffc107;
  }
  
  button:nth-child(2):hover {
    background-color: #e0a800;
  }
  
  button:nth-child(3) {
    background-color: #dc3545;
  }
  
  button:nth-child(3):hover {
    background-color: #c82333;
  }
  