<div class="list-element">
    <div class="list-info">
        <div class="name-date">
            <div>ID: <strong>12345</strong></div>
            <div>Fecha: <strong>01/10/2000</strong></div>
        </div>

        <div class="desc">
            <strong>Motivo:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>

        <div class="desc">
            <div>
                <strong>Tratamiento:</strong> Lorem ipsum dolor sit amet, consectetur.
            </div>
        </div>
    </div>

    <div class="list-options">
        <button>Ver</button>
        <button>Modificar</button>
        <button>Eliminar</button>
    </div>
</div>