<div *ngIf="paciente" class="paciente-detalles">
    <h2 class="titulo">Detalles del Paciente: <span>{{ paciente.nombre }}</span></h2>
    <div class="detalles-container">
      <ul class="detalles-lista">
        <li><strong>Fecha de nacimiento:</strong> {{ paciente.fechaNacimiento }}</li>
        <li><strong>Edad:</strong> {{ paciente.edad }}</li>
        <li><strong>Teléfono:</strong> {{ paciente.telefono }}</li>
        <li><strong>Correo electrónico:</strong> {{ paciente.correo }}</li>
        <li><strong>Dirección:</strong> {{ paciente.direccion }}</li>
        <li><strong>Condiciones Médicas:</strong> {{ paciente.condicionesMedicas }}</li>
        <li><strong>Alergias:</strong> {{ paciente.alergias }}</li>
        <li><strong>Cirugías Previas:</strong> {{ paciente.cirugiasPrevias }}</li>
        <li><strong>Seguro Dental:</strong> {{ paciente.seguroDental ? 'Sí' : 'No' }}</li>
        <li><strong>Peso:</strong> {{ paciente.peso }} kg</li>
        <li><strong>Altura:</strong> {{ paciente.altura }} m</li>
        <li><strong>Tensión Arterial:</strong> {{ paciente.tensionArterial ? 'Sí' : 'No' }}</li>
      </ul>
      <!-- <div class="acciones">
        <button class="editar-btn" >Editar Información</button>
        <button class="eliminar-btn">Eliminar Paciente</button>
      </div> -->
    </div>
  </div>
  


