$background-4: #181C14;
$background-3: #40534C;
$background-3-hover:#4a5a54;

$background-2: #787262;
$background-2-border: #ffffff;
$background-21:#5d5b4e;
$background-1: #ECDFCC;



$txt-light-3:white;
$txt-light-2:rgb(255, 231, 146);

$txt-dark-3:#40534C;


$txt-med-2: #787262;

