$background-4: #282927;
$background-3: #4f5553;
$background-3-hover:#545857;

$background-2: #83817b;
$background-2-border: #ffffff;
$background-21:#504f4d;
$background-1: #dddddd;



$txt-light-3:white;
$txt-light-2:rgb(255, 231, 146);

$txt-dark-3:#4c504e;


$txt-med-2: #727069;

