<div class="container" *ngIf="formulario">
  <form [formGroup]="pagoForm" (ngSubmit)="pagar()" class="form-container">
    <div>
      <label>Nombre del Servicio:</label>
      <input type="text" formControlName="nombreServicio" />
    </div>
    <div>
      <label>Cantidad a Cobrar:</label>
      <input type="number" formControlName="precioCobrar" />
    </div>
    <button type="submit" class="enviar">Enviar</button>
  </form>

</div>

<div *ngIf="mostrarVista">
    <h2>Detalles del Pago</h2>
    <p><strong>Nombre del Servicio:</strong> {{ datosPago.nombreServicio }}</p>
    <p><strong>Precio a Cobrar:</strong> {{ datosPago.precioCobrar | currency:'MXN' }}</p>
    <p *ngIf="clientSecret"><strong>Client Secret:</strong> {{ clientSecret }}</p>
</div>

